* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    background: #4e54c8;
    background: -webkit-linear-gradient(to right, #8f94fb, #4e54c8);
    background: linear-gradient(to right, #8f94fb, #4e54c8);

}

.card-game {
    width: 640px;
    height: 640px;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}

.card {
    width: calc(25% - 10px);
    height: calc(25% - 10px);
    margin: 5px;
    perspective: 1000px;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    border: 5px solid #000000;
    border-radius: 5px;
}

img {
    width: 100%;
    margin: auto;
}

.card-front, .card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    padding: 20px;
    display: flex;
}

.card-front {
    background: #DA4453;
    background: -webkit-linear-gradient(to right, #89216B, #DA4453);
    background: linear-gradient(to right, #89216B, #DA4453);

}

.card-back {
    transform: rotateY(180deg);
    background: #F2F2F2;
}

.flip {
    transform: rotateY(180deg);
}

.youtube .card-back {
    background-color: #cd201f;
}

.facebook .card-back {
    background-color: #3b5998;
}

.twitter .card-back {
    background-color: #55acee;
}

.reddit .card-back {
    background-color: #ff4500;
}

.linkedin .card-back {
    background-color: #0077b5;
}

.snapchat .card-back {
    background-color: #fffa37;
}

.instagram .card-back {
    background-color: #3f729b;
}

.whatsapp .card-back {
    background-color: #43d854;
}